aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==3.7.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.4.1
async-lru==2.0.4
attrs==25.1.0
Babel==2.12.1
backcall==0.1.0
bcrypt==4.0.1
Beaker==1.12.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.1
blivet==3.8.2
blivet-gui==2.5.0
Brlapi==0.8.5
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.5.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
comm==0.1.4
contourpy==1.2.1
cryptography==41.0.7
cssselect==1.1.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distro==1.8.0
dlib==19.24.4
dnf==4.19.2
docker==6.1.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
executing==1.2.0
face-recognition==1.3.0
face_recognition_models==0.3.0
fastjsonschema==2.16.3
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
Flask==3.0.3
Flask-Cors==5.0.0
fonttools==4.51.0
fqdn==1.5.1
fros==1.1
frozenlist==1.5.0
google-auth==2.39.0
google-auth-oauthlib==1.2.1
greenlet==3.1.1
gspread==6.2.0
gssapi==1.7.3
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.25.2
humanize==3.13.1
hyprshade==3.2.1
i3ipc==2.2.1
idna==3.7
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipykernel==6.29.3
ipython==8.14.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.0
Jinja2==3.1.4
json5==0.9.12
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==7.4.9
jupyter_core==5.1.0
jupyter_server==2.7.2
jupyter_server_terminals==0.4.2
jupyterlab==4.0.11
jupyterlab-pygments==0.1.2
jupyterlab_server==2.24.0
kiwisolver==1.4.5
koji==1.34.0
langchain==0.3.19
langchain-core==0.3.35
langchain-text-splitters==0.3.6
langsmith==0.3.8
langtable==0.0.66
libcomps==0.1.20
libdnf==0.73.1
lxml==4.9.3
Mako==1.2.3
MarkupSafe==2.1.3
matplotlib==3.8.4
matplotlib-inline==0.1.6
mercurial==6.5.3
meson==1.3.2
mistune==2.0.4
more-itertools==10.3.0
moviepy==2.1.2
multidict==6.1.0
mutagen==1.46.0
nbclient==0.8.0
nbconvert==7.2.5
nbformat==5.9.1
nest-asyncio==1.5.7
netifaces==0.11.0
nftables==0.1
notebook==7.0.7
notebook_shim==0.2.3
numpy==1.26.4
nwg-panel==0.9.32
oauth2client==4.1.3
oauthlib==3.2.2
olefile==0.46
ollama==0.4.7
opencv-python==4.9.0.80
orjson==3.10.15
outcome==1.3.0.post0
packaging==24.2
pandas==1.5.3
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.3
Paste==3.5.3
pdfkit==1.0.0
pexpect==4.8.0
pickleshare==0.7.5
pid==2.2.3
pillow==10.3.0
platformdirs==3.9.1
playwright==1.50.0
ply==3.11
productmd==1.38
proglog==0.1.10
progressbar2==3.53.2
prometheus-client==0.17.1
prompt-toolkit==3.0.38
propcache==0.2.1
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pwquality==1.4.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.20.0
pycups==2.0.4
pycurl==7.45.2
pydantic==2.10.6
pydantic_core==2.27.2
pyee==12.1.1
pyenchant==3.2.2
pygit2==1.14.0
Pygments==2.15.1
PyGObject==3.46.0
pykickstart==3.48
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
pyprland==2.3.8
pyquery==1.4.3
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-gettext==4.0
python-json-logger==2.0.4
python-manatools==0.0.4
python-meh==0.51
python-telegram-bot==20.7
python-utils==3.3.3
python-xlib==0.33
pytube==15.0.0
pytz==2024.1
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.0
redis==5.2.1
referencing==0.30.2
regex==2024.4.16
requests==2.31.0
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
rpm==4.19.1.1
rpmautospec==0.6.3
rpmautospec-core==0.1.4
rsa==4.9
schedule==1.2.2
seaborn==0.13.2
secure-smtplib==0.1.1
selenium==4.28.1
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setuptools==67.7.2
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sos==4.6.0
soupsieve==2.5
spotipy==2.25.0
SQLAlchemy==2.0.38
stack-data==0.6.2
systemd-python==235
Tempita==0.5.2
tenacity==9.0.0
terminado==0.17.1
texttable==1.6.4
tinycss2==1.2.1
tornado==6.3.3
tqdm==4.67.1
traitlets==5.9.0
trash-cli==0.22.10.20
trio==0.29.0
trio-websocket==0.12.1
typing_extensions==4.12.2
uri-template==1.2.0
urllib3==1.26.18
validators==0.34.0
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
wsproto==1.2.0
yarl==1.18.3
yt-dlp==2024.5.27
zombie-imp==0.0.2
zstandard==0.23.0
